body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    padding: 20px;
  }
  
  #search_container {
    margin-bottom: 20px;
    float: right;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    overflow: hidden;
  }
  
  th, td {
    padding: 12px 15px;
    text-align: center;
  }
  
  th {
    background-color: #333;
    color: white;
    font-weight: 600;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  
  img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
    margin: 2px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
  }
  
  #search_btn {
    background-color: #333;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #search_btn:hover {
    background-color: #555;
  }
  
  input[type="text"] {
    padding: 6px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  #back_btn {
    background-color: #323233; /* Blue background for a modern look */
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin-bottom: 20px; /* Space between button and content */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth hover effects */
  }
  
  #back_btn:hover {
    background-color: #16304d;
    transform: scale(1.05);
  }
  
